
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.iml
discordbot/discordbot.iml
discordbot/src/test/
discordbot/target/
bot/src/test/
bot/target/generated-sources/
bot/target/classes/config.preferences
bot/target/classes/data/
data.ser