
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
*.iml
discordbot/discordbot.iml
discordbot/src/test/
discordbot/target/
bot/src/test/
bot/target/generated-sources/
bot/target/classes/config.preferences
bot/target/classes/data/
data.ser
May 10, 2017.log
May 11, 2017.log
May 14, 2017.log
May 17, 2017.log
May 21, 2017.log
May 3, 2017.log
bot.log
bot/logs/
bot/target/classes/BotRunner$1.class
bot/target/classes/model/ListenerImpl$1.class
bot/target/classes/model/ListenerImpl$Data.class
bot/target/classes/model/MessageHandler.class
prefs.ser
